/File_1_-_IMD2019_Index_of_Multiple_Deprivation.xlsx
/File_2_-_IoD2019_Domains_of_Deprivation.xlsx
/File_3_-_IoD2019_Supplementary_Indices_-_IDACI_and_IDAOPI.xlsx
/File_4_-_IoD2019_Sub-domains_of_Deprivation.xlsx
/File_5_-_IoD2019_Scores.xlsx
/File_6_-_IoD2019_Population_Denominators.xlsx
/File_8_-_IoD2019_Underlying_Indicators.xlsx
/File_9_-_IoD2019_Transformed_Scores.xlsx
/IoD2019_Research_Report.pdf
/dl_raw.csv
/file_7.csv
/south_glos_LSOAs-mapping.pdf
.vscode